<head>
  <title>編輯 <%= @interest.interestname %></title>
</head>

<div class= "col-sm-offset-1 col-sm-10">
<h3>編輯興趣社區</h3>
</div>
<div class= "col-sm-offset-1 col-sm-10">
<%= render 'form' %>
</div>

